<div class="grid grid-cols-[18rem,1fr] gap-5 h-full">
  <div class="space-y-5 mt-10">
    <app-main-title alignText="text-left">Clientes</app-main-title>
    <div>
      <input type="search" placeholder="Buscar por nombre">
      <p class="text-right mt-3">Total: 150</p>
    </div>
    <hr class="mb-5">
    <div>
      <app-paper-base>
        <h3 class="text-primary font-semibold">
          <a href="#">Mira las próximas clases</a>
        </h3>
        <div>

        </div>
      </app-paper-base>
    </div>
  </div>
  <div class="h-screen bg-white p-5 space-y-5">
    <div class="bg-secondary p-5 rounded flex items-center gap-1">
      <figure class="overflow-hidden rounded-full w-16 h-16">
        <img src="https://randomuser.me/api/portraits/men/0.jpg" alt="Profile">
      </figure>
      <h2>
        <span class="font-bold block text-xl">Rolando R.</span>
        <small class="font-medium text-xs">ADMIN</small>
      </h2>
    </div>
  </div>
</div>
