<div class="grid grid-cols-[18rem,1fr] gap-5 h-full">
  <div class="space-y-5 mt-10">
    <app-main-title alignText="text-left">Consultas</app-main-title>
    <div>
      <input type="search" placeholder="Buscar por nombre">
      <p class="text-right mt-3">Total: 150</p>
    </div>
    <hr class="mb-5">
    <div class="grid gap-3">
      <!-- <app-user-card *ngFor="let user of users" [user]="user" (setUser)="setUser($event)"></app-user-card> -->
      ok
    </div>
  </div>
  <div class="h-screen bg-white p-10">
  </div>
</div>
