
<app-main-title alignText="text-center">Planet Fitness</app-main-title>
<app-sub-title>Inicia sesión para acceder a tu perfil</app-sub-title>

<form (ngSubmit)="onLogin()" #loginForm="ngForm" class="mt-10 space-y-5">
  <input type="email" rquired placeholder="Ingresa tu email" #email="ngModel" name="email" [(ngModel)]="user.email">
  <input type="password" required placeholder="•••••••••" #password="ngModel" name="password" [(ngModel)]="user.password">

  <button [disabled]="loginForm.invalid" type="submit" class="primary">INGRESAR</button>
</form>
